[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
pymysql = "*"
Flask = "*"
Flask-SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
